.user {
    width: 100%;

    padding: 3rem 2.5rem;

    border-radius: 1rem;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.3rem rgba(0, 0, 0, 0.5);

    border-top-color: rgba(225, 225, 225, 0.1);
    border-left-color: rgba(225, 225, 225, 0.1);
    border-bottom-color: rgba(225, 225, 225, 0.1);
    border-right-color: rgba(225, 225, 225, 0.1);
    background-color: rgba(225, 225, 225, 0.1);
}

.user .user-input-field {
    margin-bottom: 10px;
}

.user .user-input-field input[type='text'],
.user textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}
.user .user-input-field input[type='email'],
.user textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}
.user .user-input-field input[type='password'],
.user textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 10px;
}

.user textarea {
    resize: none;
    height: 80px;
}

.userBtn {
    border: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
    text-align: center;
    width: 100%;
    background: black;
    color: #ffffff;
    text-transform: uppercase;

    border-radius: 2px;
    cursor: pointer;
}
.userBtn:hover {
    background-color: rgb(34, 34, 34);
    color: white;
}
.addUser h2 {
    font-family: 'Kaushan Script', cursive;
}

@media (max-width: 768px) {
    .user {
        width: 100%;
        background: #fff;
        padding: 25px;
        border-radius: 5px;
        box-shadow: 4px 4px 2px rgb(34, 34, 33);
    }
}
